.CalendarDay__selected_span {
  background: #a2ab98; 
  color: white; 
  border: 1px solid #a2ab98; 
}

.CalendarDay__selected_span:hover {
  background: #4b4b4d; 
  color: white; 
  border: 1px solid #a2ab98; 
}

.CalendarDay__selected {
  background: #4b4b4d;
  color: white;
  border: 1px solid #a2ab98; 
}

.CalendarDay__selected:hover {
  background: #4b4b4d;
  color: white;
  border: 1px solid #a2ab98; 
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #a2ab98;
}

.DateRangePicker,
.DateRangePickerInput, 
.DateInput,
.DateInput_input {
  background: transparent;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  border: 2px solid #9b9fa3;
  width: 100%;
}
